NEXT_PUBLIC_URL=http://localhost:3000
# VERCEL_PROJECT_PRODUCTION_URL=
NEXT_PUBLIC_ONCHAINKIT_API_KEY=
NEXT_PUBLIC_ONCHAINKIT_PROJECT_NAME=DBRO Mini App
NEXT_PUBLIC_ONCHAINKIT_PROJECT_ID=
# NEXT_PUBLIC_WC_PROJECT_ID=

# Icon For Base Wallet
NEXT_PUBLIC_ICON_URL=http://localhost:3000/newLogoTwo.png

# Template Fork Link
NEXT_PUBLIC_REPO_FORK_URL=

# Paymaster Sponsored Gas Transactions Config
NEXT_PUBLIC_DBRO_TOKEN_ADDRESS=0x6a4e0F83D7882BcACFF89aaF6f60D24E13191E9F
NEXT_PUBLIC_PAYMASTER_AND_BUNDLER_ENDPOINT=

#RPC's
NEXT_PUBLIC_BASE_URL=